# Project directories
output/



# vim temporary/swap files
*~
*.swp
*.swo

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pycharm
.idea/*
templates/ckan-static/i18n/en_ZW/LC_MESSAGES/.idea/

# translation .mo file
*.mo
