# https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#using-docker-caching

image: docker:stable

services:
  - docker:dind

variables:
  CONTAINER_IMAGE: registry.gitlab.com/$CI_PROJECT_PATH/$CI_COMMIT_REF_NAME
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2
  GIT_SUBMODULE_STRATEGY: recursive
  TARGET: deploy-gitlab

before_script:
  - apk update
  - apk add python3 make
  - pip3 install fades

docker:
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
    - make
    - docker pull $CONTAINER_IMAGE:latest || true
    - docker build --cache-from $CONTAINER_IMAGE:latest --tag $CONTAINER_IMAGE:$CI_COMMIT_SHA --tag $CONTAINER_IMAGE:latest output/$TARGET
    - docker push $CONTAINER_IMAGE:$CI_COMMIT_SHA
    - docker push $CONTAINER_IMAGE:latest
    - docker pull $CONTAINER_IMAGE/solr:latest || true
    - docker build --cache-from $CONTAINER_IMAGE/solr:latest --tag $CONTAINER_IMAGE/solr:$CI_COMMIT_SHA --tag $CONTAINER_IMAGE/solr:latest output/$TARGET/solr
    - docker push $CONTAINER_IMAGE/solr:$CI_COMMIT_SHA
    - docker push $CONTAINER_IMAGE/solr:latest
  artifacts:
    paths:
      - output/deploy/docker-compose.yml
