# https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#using-docker-caching

image: docker:stable

services:
  - docker:dind

variables:
  CONTAINER_IMAGE: registry.gitlab.com/$CI_PROJECT_PATH/$CI_COMMIT_REF_NAME
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2
  TARGET: deploy

before_script:
  - apk add --no-cache python3 py3-pip make wget gettext docker-compose git
  - git config --global url."https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/".insteadOf "git@gitlab.com:"
  - git submodule sync --recursive
  - git submodule update --init --recursive

docker:
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
    - make
    - docker pull $CONTAINER_IMAGE:latest || true
    - docker build --file output/$TARGET/Dockerfile --cache-from $CONTAINER_IMAGE:latest --tag $CONTAINER_IMAGE:$CI_COMMIT_SHA --tag $CONTAINER_IMAGE:latest .
#    - docker-compose up --detach
#    - wget --spider --recursive --no-directories --no-verbose --wait 0.1 --retry-connrefused --waitretry 10 --tries 18 --level 1 docker:5000
#    - docker-compose down --volumes
    - docker push $CONTAINER_IMAGE:$CI_COMMIT_SHA
    - docker push $CONTAINER_IMAGE:latest
  artifacts:
    paths:
      - output/deploy/docker-compose.yml
