image: docker:stable

services:
  - docker:dind

before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY

stages:
  - container

ckan:
  stage: container
  variables:
    CONTAINER_IMAGE: $CI_REGISTRY_IMAGE/ckan:$CI_COMMIT_BRANCH-$CI_COMMIT_SHA
  script:
    - apk update && apk add git
    - git config --global url."https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/".insteadOf "git@gitlab.com:"
    - git config --global url."https://github.com/".insteadOf "git@github.com:"
    - git submodule sync --recursive
    - git submodule update --init --recursive
    - docker build -t $CONTAINER_IMAGE .
    - docker push $CONTAINER_IMAGE

nginx:
  stage: container
  variables:
    CONTAINER_IMAGE: $CI_REGISTRY_IMAGE/nginx:$CI_COMMIT_BRANCH-$CI_COMMIT_SHA
  script:
    - docker build -t $CONTAINER_IMAGE services/nginx/
    - docker push $CONTAINER_IMAGE

varnish:
  stage: container
  variables:
    CONTAINER_IMAGE: $CI_REGISTRY_IMAGE/varnish:$CI_COMMIT_BRANCH-$CI_COMMIT_SHA
  script:
    - docker build -t $CONTAINER_IMAGE services/varnish/
    - docker push $CONTAINER_IMAGE
