[submodule "ckanext/ckanext-datasetversions"]
	path = ckanext/ckanext-datasetversions
	url = git@github.com:aptivate/ckanext-datasetversions.git
[submodule "bulk-download"]
	path = services/bulk-download
	url = git@github.com:COATnor/coat-bulk-download.git
[submodule "ckanext/ckanext-oauth2"]
	path = ckanext/ckanext-oauth2
	url = https://github.com/In-For-Disaster-Analytics/ckanext-oauth2.git
	branch = main
