[submodule "ckanext/ckanext-coat"]
	path = ckanext/ckanext-coat
	url = git@gitlab.com:nina-data/ckanext-coat.git
[submodule "ckanext/ckanext-coatcustom"]
	path = ckanext/ckanext-coatcustom
	url = git@gitlab.com:nina-data/ckanext-coatcustom.git
[submodule "ckanext/ckanext-datasetversions"]
	path = ckanext/ckanext-datasetversions
	url = https://github.com/NINAnor/ckanext-datasetversions
[submodule "ckanext/ckanext-dcat"]
	path = ckanext/ckanext-dcat
	url = https://github.com/ckan/ckanext-dcat
[submodule "ckanext/ckanext-scheming"]
	path = ckanext/ckanext-scheming
	url = https://github.com/frafra/ckanext-scheming
[submodule "ckanext/ckanext-spatial"]
	path = ckanext/ckanext-spatial
	url = https://github.com/ckan/ckanext-spatial
[submodule "ckanext/ckanext-oauth2"]
	path = ckanext/ckanext-oauth2
	url = https://github.com/NINAnor/ckanext-oauth2
	branch = feide
[submodule "ckanext/ckanext-harvest"]
	path = ckanext/ckanext-harvest
	url = https://github.com/ckan/ckanext-harvest/
[submodule "ckanext/ckanext-doi"]
	path = ckanext/ckanext-doi
	url = https://github.com/NINAnor/ckanext-doi.git
[submodule "ckanext/ckanext-iso19115"]
	path = ckanext/ckanext-iso19115
	url = https://github.com/DataShades/ckanext-iso19115.git
[submodule "ckanext/ckanext-metaexport"]
	path = ckanext/ckanext-metaexport
	url = https://github.com/DataShades/ckanext-metaexport.git
