{% ckan_extends %}

{% block secondary_content %}
  {% snippet "spatial/snippets/spatial_query.html", default_extent="[[69.00, 6.00], [80.00, 34.00]]" %}
  <div class="filters">
    <div>
      {% for facet in c.facet_titles %}
        {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, alternative_url=dataset_type) }}
      {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div>
{% endblock %}
