{% ckan_extends %}

{% block bodytag %} data-site-root="" data-locale-root="" {% endblock %}

{% block styles %}
  {{ super() }}
  {% asset 'coatcustom/coatcustom' %}
{% endblock %}

{% block head_extras %}
  {{ super() }}
  <!-- Privacy-friendly analytics by Plausible -->
  <script async src="https://plausible.io/js/pa-WgeQgRNq3TgJXUCd_tyFz.js"></script>
  <script>
    window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
    plausible.init()
  </script>
{% endblock %}
